<h2 style="margin-top:0;">Inputs > Sponsor List</h2>
<p><i>Select an Excel sheet on your computer that contains the list of sponsors
    with their e-mail addresses and children's names.</i></p>
<form>
  <section class="form-block">
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="aForm_1">Excel Sheet</label>
      </div>
      <div class="col-xs-6">
        <input type="file" name="sheet" ng2FileSelect [uploader]="uploader" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Analyze
        </button>
      </div>
    </div>
  </section>
</form>
<div *ngIf="!(showColumnSelectionForm)">
  <p>
    <i>These are the headers in your Excel sheet. Select which column should be used for what purpose.</i>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of columnHeadersWithSamples; index as i">{{col.columnName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let col of columnHeadersWithSamples; index as i">
          <clr-icon shape="arrow down"></clr-icon>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th *ngFor="let col of columnHeadersWithSamples; index as i">
          <div class="select">
            <select id="'columnSelection' + i">
              <option value="" disabled selected>(select one)</option>
              <option *ngFor="let role of columnRoles" value="{{role}}">{{role}}</option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let col of columnHeadersWithSamples; index as i">
          {{col.sampleValue}}
        </td>
      </tr>
      <tr>
        <td *ngFor="let col of columnHeadersWithSamples; index as i">
          {{col.sampleValue2}}
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <a routerLink="/input-attachment"><button type="submit" class="btn btn-primary">NEXT</button></a>

</div>