<h2 style="margin-top:0;">Inputs > Sponsor List</h2>
<p><i>Select an Excel sheet on your computer that contains the list of sponsors
    with their e-mail addresses and children's names.</i></p>
<form>
  <section class="form-block">
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="aForm_1">Excel Sheet</label>
      </div>
      <div class="col-xs-6">
        <input type="file" name="fodder" ng2FileSelect [uploader]="uploader" />
      </div>
    </div>
  </section>
</form>
<div *ngIf="(showColumnSelectionForm)">
  <p>
    <i>These are the headers in your Excel sheet. Select which column should be used for what purpose.</i>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of headers">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let col of headers; index as i">
          <clr-icon shape="arrow down"></clr-icon>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th *ngFor="let col of headers; index as i">
          <div class="select">
            <select id="'columnSelection' + i" [(ngModel)]="columnMappings[i]">
              <option [value]="" selected></option>
              <option *ngFor="let role of columnRoles" [value]="role">{{role}}</option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableContent">
        <td *ngFor="let col of headers; index as i">
          {{row[col]}}
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <button type="submit" class="btn btn-primary" (click)="sendColumnMapping()">NEXT</button>

</div>

<app-error-dialog #errorDialog></app-error-dialog>