<clr-main-container>
  <clr-header class="header header-4">
    <div class="branding">
      <a href="" class="nav-link">
        <clr-icon shape="envelope" class="is-inverse" size="48"></clr-icon>
        <span class="title">WittyMail</span>
      </a>

    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="" class="active nav-link nav-text">Dashboard</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger (click)="showAboutModal=false;">
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="showAboutModal=true;">
            <clr-icon shape="info-standard"></clr-icon>
            About
          </a>
          <a href="..." clrDropdownItem>
            <clr-icon shape="help"></clr-icon>
            Help
          </a>
          <a href="..." clrDropdownItem>
            <clr-icon shape="warning-standard"></clr-icon>
            Report Issue
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="group1" type="checkbox">
          <label for="group1">
            <clr-icon shape="import" size="32"></clr-icon>
            INPUTS
          </label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="/input-sheet" routerLinkActive="active">
                <clr-icon shape="envelope"></clr-icon>
                Sponsor List
              </a></li>
            <li><a class="nav-link" routerLink="/input-attachment" routerLinkActive="active">
                <clr-icon shape="attachment"></clr-icon>
                Attachments
              </a></li>
          </ul>
        </section>

        <section class="nav-group">
          <input id="group2" type="checkbox">
          <label for="group2">
            <clr-icon shape="envelope" size="32"></clr-icon>
            E-MAIL DESIGN
          </label>
          <ul class="nav-list">
            <li><a class="nav-link">
                <clr-icon shape="network-switch"></clr-icon>
                Server
              </a></li>
            <li><a class="nav-link" routerLink="/design-contents" routerLinkActive="active">
                <clr-icon shape="pencil"></clr-icon>
                Contents
              </a></li>
          </ul>
        </section>

        <section class="nav-group">
          <input id="group3" type="checkbox">
          <label for="group3">
            <clr-icon shape="export" size="32"></clr-icon>
            REPORT
          </label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="/report-summary" routerLinkActive="active">
                <clr-icon shape="list"></clr-icon>
                Summary
              </a></li>
            <li><a class="nav-link">
                <clr-icon shape="deploy"></clr-icon>
                Send E-mails
              </a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
  <app-about [showAboutModal]="showAboutModal"></app-about>
</clr-main-container>