<button mat-stroked-button color="primary" (click)="onSendSelectedEmails()">Send selected emails</button>
<div class="table-container">
  <table mat-table [dataSource]="sheetContents" matSort class="mat-elevation-z1 sheet-contents-table">
    <!-- Selection box -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="wrap">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="wrap">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
    </ng-container>

    <!-- View Email button -->
    <ng-container matColumnDef="view-email">
        <th mat-header-cell *matHeaderCellDef class="wrap">
          E-mail
        </th>
        <td mat-cell *matCellDef="let row" class="wrap">
            <button mat-stroked-button color="accent" (click)="onViewSingleEmail(row)">
              View E-mail
            </button>
        </td>
    </ng-container>

    <!-- All other headers -->
    <div *ngFor="let header of headers">
      <ng-container matColumnDef="{{header}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="wrap"> 
            {{header}}
        </th>
        <td mat-cell *matCellDef="let element" class="wrap"> 
          {{element[header]}} 
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedHeaders;"></tr>
  </table>
</div>

<app-error-dialog #errorDialog></app-error-dialog>