.sheet-contents-table {
    width: 100%;
}

.table-container {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    z-index: 1;
}

table td {
    border: 1px solid grey; 
}

.column-selected-as {
    text-align: center;
    color: purple;
}
