<mat-vertical-stepper [linear]="False" #stepper>
  <mat-step editable="false" label="Upload Sheet">
    <div gdGap="20px" gdColumns="repeat(2, [col] 30vw)" gdRows="repeat(2, [row] auto)">
      <div class="box" gdColumn="col" gdRow="row">
        Sponsor List
      </div>
      <div class="box" gdColumn="col 2" gdRow="row">
        <input type="file" name="sponsor-sheet" ng2FileSelect [uploader]="uploader" placeholder="Input" />
      </div>
    </div>
  </mat-step>

  <mat-step editable="true" label="Select Columns">
    <mat-horizontal-stepper [linear]="False" #columnMappingStepper>
      <mat-step editable="true" label="E-mail Address (To)">
        Which column has the e-mail address of the recipient?
      </mat-step>
      <mat-step editable="true" label="E-mail Address (CC)">
        Which column has the e-mail address to be CC'd?
      </mat-step>
      <mat-step editable="true" label="Attachment Name">
        Which column has attachment names?
      </mat-step>
    </mat-horizontal-stepper>
  </mat-step>
</mat-vertical-stepper>

<div class="table-container">
  <table mat-table [dataSource]="sheetContents" class="mat-elevation-z1 sheet-contents-table">
    <div *ngFor="let header of headers">
      <ng-container matColumnDef="{{header}}">
        <th mat-header-cell *matHeaderCellDef> 
            <button mat-button (click)="onSelectColumn(header)">{{header}}</button>
            <div class="column-selected-as">{{columnSelectedAs[header]}}</div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element[header]}} </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
  </table>
</div>

<app-error-dialog #errorDialog></app-error-dialog>